$primary: #97D5A5;
$on_primary: #0391B;
$primary_container: #13512D;
$on_primary_container: #B2F1C0;
$inverse_primary: #2F6A43;
$primary_fixed: #B2F1C0;
$primary_fixed_dim: #97D5A5;
$on_primary_fixed: #021D;
$on_primary_fixed_variant: #13512D;
$secondary: #B6CCB8;
$on_secondary: #223526;
$secondary_container: #384B3C;
$on_secondary_container: #D2E8D3;
$secondary_fixed: #D2E8D3;
$secondary_fixed_dim: #B6CCB8;
$on_secondary_fixed: #D1F13;
$on_secondary_fixed_variant: #384B3C;
$tertiary: #A2CED9;
$on_tertiary: #1363F;
$tertiary_container: #204D56;
$on_tertiary_container: #BEEAF6;
$tertiary_fixed: #BEEAF6;
$tertiary_fixed_dim: #A2CED9;
$on_tertiary_fixed: #01F26;
$on_tertiary_fixed_variant: #204D56;
$error: #FFB4AB;
$on_error: #6905;
$error_container: #930A;
$on_error_container: #FFDAD6;
$surface_dim: #101510;
$surface: #101510;
$surface_tint: #97D5A5;
$surface_bright: #353A35;
$surface_container_lowest: #AFB;
$surface_container_low: #181D18;
$surface_container: #1C211C;
$surface_container_high: #262B26;
$surface_container_highest: #313631;
$on_surface: #DFE4DC;
$on_surface_variant: #C1C9BF;
$outline: #8B938A;
$outline_variant: #414941;
$inverse_surface: #DFE4DC;
$inverse_on_surface: #2D322D;
$surface_variant: #414941;
$background: #101510;
$on_background: #DFE4DC;
$shadow: #000;
$scrim: #000;
$background: #97D5A5;
$background-weak: #0391B;
$foreground: #B6CCB8;
